#container {
    background-color: white;
    /*border-radius: 15px; !* Adjust the value to control the roundness of the corners *!*/
    /*overflow: hidden;*/
}

.aiVoiceBlock {
    width: 405px;
    height: 110px;
    border-bottom: 1px solid black;
    margin: 3px;
    padding: 5px;
    align-content: center;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 10px;
    background-color: white;
}

/*!* Show the play button on hover over the voice block *!*/
.aiVoiceBlock:hover {
    background-color: lightgray;
}

.aiVoiceBlock:hover .Button2 {
    display: block;
    background-color: lightgray;
    /*background: none;*/
    border: none;
    cursor: pointer;
    position: absolute;
    top: 57%;
    right: 12%;
}

.voiceBlock {
    display: flex;
    position: absolute;
    top: 50%;
    left: 67%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: right;
    align-items: end;
    text-align: center;
    gap: 10px;
}


.Button {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.1s, box-shadow 0.1s;
    /*position: relative;*/
}

.Button2 {
    display: none;

}

.Button:active {
    transform: translateY(2px); /* Move the button down slightly */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a shadow */
}

#fixedAudioBlock {
    position: sticky;
    bottom: 0px; /* Adjust the position as needed */
    background-color: white; /* Set a background color for visibility */
    z-index: 1; /* Ensure it's above the other content */
    display: flex;
    justify-content: center;
    align-items: center;
}

audio::-webkit-media-controls-mute-button {
    display: none !important;
}

audio::-webkit-media-controls-volume-slider {
    display: none !important;
}

audio {
    width: 100%; /* Set the width as needed */
    background-color: #f4f4f4; /* Set a background color */
    border-radius: 5px; /* Add rounded corners */
    padding: 10px; /* Add some padding */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow */
    outline: none; /* Remove the default focus outline */
}

.aiVoiceBlock.highlighted {
    background-color: orangered; /* Change to your desired highlight color */
}

.aiVoiceBlock.highlighted .Button2{
    background-color: orangered; /* Change to your desired highlight color */
}

.range {
    transform:rotate(270deg);
    width: 35%;
    height: 10%;
    position: absolute;
    top: 43%;
    right: -20px;
}

.range input {
    height: 15px;
    width: 80px;
}

.circular-image {
    border-radius: 50%;
    overflow: hidden;
}

.headImages {
    display: flex;
    flex-direction: row;
    gap: 35px;
    border-bottom: 2px solid black;
}